<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>method2</title>
	<link rel="stylesheet" href="../css/global.css">
</head>
	<body>
		<h1 class="InPg">Method2</h1>
		<nav class="Nbar">
			<header>
				<ul>
					<li><a href="http://localhost:8080/Method1">Method1</a></li>
					<li><a href="http://localhost:8080/Method2">Method2</a></li>
					<li><a href="http://localhost:8080/Method3">Method3</a></li>
				</ul>
			</header>
		</nav>

	</body>
</html>