<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register</title>
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>


	<nav class="main">
		<header>
			<ul>
				<li><a href="http://localhost:8080/login">Login</a></li>
				<li><a href="http://localhost:8080/register">Register</a></li>
				<li><a href="http://localhost:8080/SecretPage">SecretPage</a></li>
				<li><a href="http://localhost:8080/ToolsPage">Tools</a></li>
				<li><a href="#">Place Holder</a></li>
				<li><a href="http://localhost:8080/logout">Logout</a></li>
				
			</ul>
		</header>
	</nav>

	<a href="index.html" >
		<img src="../images/6R.PNG" alt="LOGO" class="logo"/>
	</a>


	<div class = "RegisterForm">
		<h1>Register</h1>
		<form method="POST">
			<label>Email:</label><br />
			<input type="text" name="email"><br />
			<label>Username</label><br />
			<input type="username" name="UserName"><br />
			<label>Password</label><br />
			<input type="password" name="PassWord"><br />
			<label>Confirm Password</label><br />
			<input type="password" name="pass2"><br />
			<input type="submit">
		</form>
	</div>	
</body>
</html>