<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register</title>
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>

	<h1 class="NAME">Demonic Labs</h1>
	<nav class="main">
		<header>
			<ul>
				<li><a href="https://localhost:9000/login">Login</a></li>
				<li><a href="https://localhost:9000/register">Register</a></li>
				<li><a href="https://localhost:9000/ToolsPage">Tools</a></li>
				<li><a href="https://localhost:9000/Projects">Projects</a></li>
				<li><a href="https://localhost:9000/logout">Logout</a></li>
			</ul>
		</header>
	</nav>

	<a href="index.html" >
		<img src="../images/6R.PNG" alt="LOGO" class="logo"/>
	</a>


	<div class = "Top">
		<h1>Demonic Tools</h1>
		<div class="Content">
			<h2>DemonDOS</h2>
			<p>Lorem ipsum dolor sit amet. Sed velit ducimus eos ullam sint qui eius aperiam non porro possimus rem praesentium magnam. Aut suscipit minus et consequuntur dignissimos qui nisi internos qui animi exercitationem.</p>
			<br>
			<br>
			<h2>Gungnir The malevolent</h2>
			<p>>Lorem ipsum dolor sit amet. Sed velit ducimus eos ullam sint qui eius aperiam non porro possimus rem praesentium magnam. Aut suscipit minus et consequuntur dignissimos qui nisi internos qui animi exercitationem.</p>
		</div>
	</div>	


</body>
</html>