<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

	<a href="http://localhost:8080/">
		<h1 class="NAME">Demonic Labs</h1>
	</a>
	<nav class="main">
		<header>
			<ul>
				<li><a href="http://localhost:8080/ToolsPage">Tools</a></li>
				<li><a href="http://localhost:8080/Projects">Projects</a></li>
				<li><a href="http://localhost:8080/login">Login</a></li>
				<li><a href="http://localhost:8080/register">Register</a></li>
				<li><a href="http://localhost:8080/logout">Logout</a></li>
			</ul>
		</header>
	</nav>

	<a href="http://localhost:8080/" >
		<img src="/static/images/6R.PNG" alt="LOGO" class="logo"/>
	</a>


	<div class = "Top">
		<h1>Demonic projects</h1>
		<div class="Content">
			<h2>DemonDAO</h2>
			<p>DemonDAO Project introduction: ...</p>
			<div class="DDimg">
				<a href="http://localhost:8080/DemonDAO">
					<img src="/static/images/3YRB.PNG" alt="LOGO" class="proj"/>
				</a>
			</div>
		</div>
	</div>	


</body>
</html>