<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page</title>
	<script src="/static/js/convert.js"></script>
	<link href="/static/css/global.css" rel="stylesheet" type="text/css" media="screen" />
</head>
   <body>
      <h1>Temperature Converter</h1>
      <p>
         <label for="cInput">Celsius:</label>
         <input id="cInput" type="text">
      </p>
      <p>
         <label for="fInput">Fahrenheit:</label>
         <input id="fInput" type="text">
      </p>
      <input id="convertButton" type="button" value="Convert">
      <p id="errorMessage">
      </p>
      <p>
         <img id="weatherImage" src="/static/images/warm.png" alt="Warm">
      </p>
   </body>
</html>