<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page</title>

	<link href="/static/css/global.css" rel="stylesheet" type="text/css" media="screen" />
</head>
   <body>
      <header>
         <div>
            <h1>Welcome</h1>
         </div>
         <div>
            <li>
               <a href="http://localhost:8080/TempConvert">Temp Converter</a>
               <a href="http://localhost:8080/ImageRotate">Image Rotate</a>
         </div>
      </header>
   </body>
</html>