<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Page2</title>
	<script src="/static/js/page2.js"></script>
	<link href="/static/css/global.css" rel="stylesheet" type="text/css" media="screen" />
</head>
   <body>
      <h1>Title</h1>
      <div id="PGDIV">
         <div>
            <p></p>
         <div id="ButDiv">
            <input id="Page2Button" type="button" value="DoSomthing">
         </div>
      </div>
   </body>
</html>