<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SuperBattle</title>
	<link href="/static/css/global.css" rel="stylesheet" type="text/css" media="screen" />
	<script src="/static/js/Sbattle.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
   rel="stylesheet" crossorigin="anonymous"
   integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3">
</head>
<body>
	<nav class="site-header sticky-top py-1 ">
		<div class="container d-flex flex-column flex-md-row justify-content-between ">
			<a class="py-2 d-none d-md-inline-block" href="{{.DomainName}}/" id="">Home</a>
			<a class="py-2 d-none d-md-inline-block" href="{{.DomainName}}/AddSuper" id="AddSuperHuman">AddSuper</a>
			<a class="py-2 d-none d-md-inline-block" href="{{.DomainName}}/SuperBattle" id="">Battle</a>
			<a class="py-2 d-none d-md-inline-block" href="{{.DomainName}}/ShowHeros" id="">SuperHeros</a>
			<a class="py-2 d-none d-md-inline-block" href="{{.DomainName}}/ShowVillains" id="">SuperVillains</a>
		</div>
	</nav>


	<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
		<div class="col-md-5 p-lg-5 mx-auto my-5">
			<h1 class="display-4 font-weight-normal">Super Battle</h1>
			<p class="lead font-weight-normal">Are you ready to Fight</p>	
		</div>
	</div>


	<div class=" postition-relative d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
        	<p>Select Hero
						<select id="heroSelect">
	        		{{ $hlist := .Body.HeroList }}
	        		{{ range $hlist }}
	        			
	        			<option>{{.Name}}</option>
	        		{{ end }}
						</select>
					</p>
         
        </div>
        <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 p-3">
					<p>Select a villain:
						<select id="villainSelect">
          		{{ $vlist := .Body.VillainList }}
          		{{ range $vlist }}
          			<option>{{.Name}}</option>
          		{{ end }}
						</select>
					</p>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>

    </div>
    <input id="fight" type="button" name="Fight" value="Fight" class="btn btn-outline-secondary">

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    	<div class="col-md-5 p-lg-5 mx-auto my-5">
    		<h1>Results</h1>
    		<br>
    		<div id="WinData">
    		</div>
    	</div>
    </div>


</body>
</html>