<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<nav class="main">
			<header>
				<ul>
					<li><a href="http://localhost:8080/login">Login</a></li>
					<li><a href="http://localhost:8080/register">Register</a></li>
					<li><a href="http://localhost:8080/Home">Home</a></li>
					<li><a href="http://localhost:8080/logout">Logout</a></li>
				</ul>
			</header>
		</nav>

		<div class="Idx">
			<h1>Welcome</h1>
		</div>
	</body>
</html>