nav {
	background-color: black;
}


#Card {
	justify-content: center;
	text-align: center;

}

.SuperHuman {
	padding-top: 20px;
	padding-bottom: 20px;

	border: solid;
	border-color: black;

}

.Names {


}

.Powers {


}

