<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>DemonicDAO</title>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css' />
<link href="../css/main.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="http://{{.Header}}/">Demonic Labs</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="http://{{.Header}}/">Homepage</a></li>
					<li><a href="http://{{.Header}}/Services">Services</a></li>
					<li><a href="http://{{.Header}}/Tools">Tools</a></li>
					<li><a href="http://{{.Header}}/Projects">Projects</a></li>

				</ul>
			</div>
		</div>
		<div id="banner">
			<div class="content">
				<div><img src="https://live.staticflickr.com/65535/52300486877_28f72d32b3_k.jpg" width="1000" height="450" alt="" /></div>
			</div>
		</div>
	</div>
	<br>

	<div id="page">
		<div class="post">
			<div class="Title">
				<h2>Demonic DAO Roadmap</h2>
				<p></p>
			</div>
		</div>
	</div>
	<div id="page">
		<div class="post">
			<div class="Title">
				<h3>Phase One</h3>
				<br>
				<p>Distribute NFT</p>
			</div>
		</div>
	</div>
	<div id="page">
		<div class="post">
			<div class="Title">
				<h3>Phase Two</h3>
				<p></p>
				<ul>
					<p>Five Different Souls NFTs will be Developed and minted out</p>
					<p>The Souls will be used to light the pillars of the Ritual Skulls</p>
					<p>Each pillar represents a different trait and each soul has a different visual effect</p>
					<p>To activate the Ritual Skulls, holders will need to light all five pillars</p>
				</ul>
			</div>
		</div>
	</div>
	<div id="page">
		<div class="post">
			<div class="Title">
				<h3>Utility</h3>
				<p>Demonic Tools</p>
			</div>
		</div>
	</div>
 
	<div id="banner">
		<div class="content">
			<div><img src="https://live.staticflickr.com/65535/52301739289_2201bf6d69_h.jpg" width="1000" height="500" alt="" /></div>
		</div>
	</div>
	<br>
	<br>
	<div id="banner">
		<div class="content">
			<div><img src="https://live.staticflickr.com/65535/52301739224_5d10ac80e0_h.jpg" width="1000" height="500" alt="" /></div>
		</div>
	</div>
	<br>
	<br>
	<div id="banner">
		<div class="content">
			<div><img src="https://live.staticflickr.com/65535/52301467371_7e2c88eb62_k.jpg" width="1000" height="500" alt="" /></div>
		</div>
	</div>
	<br>
	<br>
	<div id="banner">
		<div class="content">
			<div><img src="https://live.staticflickr.com/65535/52301467421_c8add5a99c_k.jpg" width="1000" height="500" alt="" /></div>
		</div>
	</div>
	<br>
	<br>
	<div id="banner">
		<div class="content">
			<div><img src="https://live.staticflickr.com/65535/52301480763_f0c8d80b4d_k.jpg" width="1000" height="500" alt="" /></div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div id="page">
		<div class="post">
			<div class="Title">
				<h3>Login Or Register to gain access to Discord server</h3>
				<br>
				<h4><a href="http://{{.Header}}/Login">Login Here</a></h4>
				<h4><a href="http://{{.Header}}/Register">Register Here</a></h4>
			</div>
		</div>
	</div>


</div>

<div id="footer">
	<p> Images by Demonic-Labs. Design by <a href="http://demonic-labs.com" rel="nofollow">Demonic-Labs</a>.</p>
</div>

</body>
</html>
