<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Astro Search</title>
</head>
	<body>
		<h1>Welcome to the Astro Baby Search</h1>
	    <div>
		    <ul>
		        <li><a href="http://localhost:8080/AstroOGs">OG Astro Babies</a></li>
		        <li><a href="http://localhost:8080/AstroApes">Astro Baby Apes</a></li>
		        <li><a href="http://localhost:8080/AstroPups">Astro Baby Pups</a></li>
		    </ul>
		</div>

	</body>
</html>