<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Astro Search</title>
	<link href="/static/css/global.css" rel="stylesheet" type="text/css" media="screen" />
</head>
	<body>
		<h1>Pups Search</h1>
	    <div>
		    <ul>
		        <li><a href="http://localhost:8080/AstroOGs">OG Astro Babies</a></li>
		        <li><a href="http://localhost:8080/AstroApes">Astro Baby Apes</a></li>
		        <li><a href="http://localhost:8080/AstroPups">Astro Baby Pups</a></li>
		    </ul>
		</div>
		<div>
			<form method="POST">
				<label>NFT_Id</label><br />
				<input type="text" name="NFT_Id"><br />
				<label>SpaceSuit</label><br />
				<input type="text" name="SS"><br />
				<label>Skin</label><br />
				<input type="text" name="Skin"><br />
				<label>Visor</label><br />
				<input type="text" name="Visors"><br />
				<label>Eyes</label><br />
				<input type="text" name="Eyes"><br />
				<label>OnEyes</label><br />
				<input type="text" name="OnEyes"><br />
				<label>mouth</label><br />
				<input type="text" name="mouth"><br />
				<label>Earrings</label><br />
				<input type="text" name="Earrings"><br />
				<label>chain</label><br />
				<input type="text" name="chains"><br />
				<label>Backround</label><br />
				<input type="text" name="BK"><br />

				<input type="submit">

			</form>
		</div>

	</body>
</html>